.row{
    margin-left: 20px;
    color: white
}
.row__posters{
    display: flex;
    overflow-y:hidden;
    overflow-x:scroll;
    padding:10px
}

.row__posters::-webkit-scrollbar {
    display:none
}


.row__poster{
    object-fit: contain;
    width:100%;
    max-height: 110px;
    margin-right: 10px;
    cursor:pointer
}

.row__poster:hover{
    transition: 0.40s;
    transform: scale(1.05);
    opacity: 1;
}

.row__poster__lg{
    object-fit: contain;
    width:100%;
    max-height: 230px;
    margin-right: 10px;
}

.row__poster__lg:hover{
    transition: 0.20s;
    transform: scale(1.05);
    opacity: 1;
}

.videoLinks{
    object-fit: cover;
    width: 100%
}
